<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OT's Community</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Roboto:wght@100&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <i class="bi bi-postcard-heart-fill"></i>
            <a href=""><span id="id1">OT</span><br><span id="id2">O</span>ur <span id="id3">T</span>herapy</span></a>
        </div>
        <ul class="navbar__menu">
            <li><a href="Community.html">커뮤니티</a></li>
            <li><a href="Knowledge.html">지식</a></li>
            <li><a href="Q&A.html">질문</a></li>
            <li><a href="Notice.html">공지</a></li>
        </ul>
        <ul class="navbar__log">
            <li><i class="fa-sharp fa-regular fa-user fa-lg"></i></li>
            <li><a href ="login.ejs">로그인</a></li>
        </ul>
        <!--햄버거 메뉴-->
        <!--href ="#"을 하면 클릭시 새로고침 안됨-->
        <a href="#" class="navbar__toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <div class="main_Community"><span id="main_1"></span>▶커뮤니티<br><span id="main_2"> 서로의 이야기를 소통해보세요.</span></div>


   <!-- <script src="./main.js"></script>-->
</body>
</html>